node-red_examples/sprinklers/Sprinklers_LCD.json
[
    {
        "id": "4936b649942e63a3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b55d2702f641bebc",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd txtwrat 1 3 SPRINKLER ZONE 1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write Header",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "d7f9cb3a077d915e"
            ],
            [],
            []
        ]
    },
    {
        "id": "d7f9cb3a077d915e",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd txtwrat 2 3 START: 8:00 AM",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write Header",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "8f8653631a05f351"
            ],
            [],
            []
        ]
    },
    {
        "id": "8f8653631a05f351",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd txtwrat 3 3 RUN: 4 min 30 sec",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write Header",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "b4e9651731c666f1"
            ],
            [],
            []
        ]
    },
    {
        "id": "b4e9651731c666f1",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd txtwrat 4 3 SET",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write Header",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "c56746e101ee8d8d"
            ],
            [],
            []
        ]
    },
    {
        "id": "c56746e101ee8d8d",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd txtwrat 4 15 EXIT",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write Header",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "9006eeb54653c26b"
            ],
            [],
            []
        ]
    },
    {
        "id": "9006eeb54653c26b",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd crs 1 1 ",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write Header",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "95820c2e43197a77"
            ],
            [],
            []
        ]
    },
    {
        "id": "95820c2e43197a77",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd dtwr 42",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write Header",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "0e602a82599bd89f",
                "926f507f20fd89a4"
            ],
            [],
            []
        ]
    },
    {
        "id": "4539ba22802ea420",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd rotrd",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1150,
        "y": 140,
        "wires": [
            [
                "48efa93adfadd299"
            ],
            [],
            []
        ]
    },
    {
        "id": "867d3d61c52537bc",
        "type": "inject",
        "z": "4936b649942e63a3",
        "name": "Display loop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 280,
        "wires": [
            [
                "4539ba22802ea420",
                "b4a31476dba77af4"
            ]
        ]
    },
    {
        "id": "29492b672a8ddb7a",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "Nav menu",
        "func": "var sel_menu;\nvar rot_offset;\nvar last_sel;\nvar rot = Number(msg.payload);\nvar msg1 = {payload:\"1\"};\nvar msg2 = {payload:\"2\"};\n\nrot_offset = global.get(\"rot_offset\");\nif (rot != rot_offset)\n{\n    sel_menu = global.get(\"sel_menu\");\n    last_sel = sel_menu;\n    sel_menu += rot-rot_offset;\n    if (sel_menu > 3)\n    {\n        sel_menu = 1;\n    } \n    if(sel_menu < 1)\n    {\n        sel_menu = 3;\n    }\n    rot_offset = rot;\n    \n    global.set(\"sel_menu\", sel_menu);\n    global.set(\"rot_offset\", rot_offset);\n    \n    msg1.payload = last_sel.toString() + \" 1\";\n    msg2.payload = sel_menu.toString() + \" 1\";\n    last_sel = sel_menu;\n    global.set(\"last_sel\", last_sel);\n    return[msg1, msg2];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 60,
        "wires": [
            [
                "40d0cee051e5e95a"
            ],
            [
                "5d65d70eb53fca81"
            ]
        ]
    },
    {
        "id": "f74cc49719794eb1",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd crs ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Set cursor",
        "x": 1870,
        "y": 100,
        "wires": [
            [
                "243a94aa3f5a5bd1"
            ],
            [],
            []
        ]
    },
    {
        "id": "243a94aa3f5a5bd1",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd dtwr 42",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write *",
        "x": 2030,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5d65d70eb53fca81",
        "type": "delay",
        "z": "4936b649942e63a3",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1690,
        "y": 100,
        "wires": [
            [
                "f74cc49719794eb1"
            ]
        ]
    },
    {
        "id": "40d0cee051e5e95a",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd crs ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Set cursor",
        "x": 1710,
        "y": 40,
        "wires": [
            [
                "f10c26896b2acd10"
            ],
            [],
            []
        ]
    },
    {
        "id": "f10c26896b2acd10",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd dtwr 32",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write Space",
        "x": 1910,
        "y": 40,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7b298b7b79d0701d",
        "type": "debug",
        "z": "4936b649942e63a3",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 600,
        "wires": []
    },
    {
        "id": "48efa93adfadd299",
        "type": "switch",
        "z": "4936b649942e63a3",
        "name": "",
        "property": "enter_menu",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1310,
        "y": 140,
        "wires": [
            [
                "29492b672a8ddb7a"
            ],
            [
                "529a44546f17a794"
            ],
            [
                "83d76427117099c9"
            ],
            [
                "45db8fd99cbe09d0"
            ]
        ]
    },
    {
        "id": "529a44546f17a794",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "Menu Zone",
        "func": "\nvar rot_offset;\nvar zone = global.get(\"zone\");\nvar rot = Number(msg.payload);\n\nrot_offset = global.get(\"rot_offset\");\nif (rot != rot_offset) {\n    zone += rot - rot_offset;\n    if (zone > 8) {\n        zone = 1;\n    }\n    if (zone < 1) {\n        zone = 8;\n    }\n    rot_offset = rot;\n\n    global.set(\"zone\", zone);\n    global.set(\"rot_offset\", rot_offset);\n\n    msg.payload = \"1 18 \" + zone.toString();\n    return msg;\n    \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 160,
        "wires": [
            [
                "5d7f24b3af4cb2f7"
            ]
        ]
    },
    {
        "id": "83d76427117099c9",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "Menu Start Time",
        "func": "var start_min;\nvar zone = global.get(\"zone\");\nvar rot_offset;\nvar rot = Number(msg.payload);\nstart_min = global.get(\"start_min[\" + zone + \"]\");\nrot_offset = global.get(\"rot_offset\");\n\nif (rot != rot_offset) {\n    start_min += (rot - rot_offset)*5;\n    if (start_min >= 1440) {\n        start_min = 0;\n    }\n    if (start_min < 0) {\n        start_min = 1435;\n    }\n    rot_offset = rot;\n    global.set(\"rot_offset\", rot_offset);\n    global.set(\"start_min[\" + zone + \"]\", start_min);\n    return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 220,
        "wires": [
            [
                "fed2d2b15aeee2b0"
            ]
        ]
    },
    {
        "id": "45db8fd99cbe09d0",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "Menu RUN",
        "func": "var run_sec;\nvar zone = global.get(\"zone\");\nvar rot_offset;\nvar rot = Number(msg.payload);\nrun_sec = global.get(\"run_sec[\" + zone + \"]\");\nrot_offset = global.get(\"rot_offset\");\n\nif (rot != rot_offset) {\n    run_sec += (rot - rot_offset) * 5;\n    if (run_sec > 600) {\n        run_sec = 600;\n    }\n    if (run_sec < 0) {\n        run_sec = 0;\n    }\n    rot_offset = rot;\n    global.set(\"rot_offset\", rot_offset);\n    global.set(\"run_sec[\" + zone + \"]\", run_sec);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 300,
        "wires": [
            [
                "f487ce428f18d611"
            ]
        ]
    },
    {
        "id": "afc5d4d03da27636",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd swird",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1350,
        "y": 400,
        "wires": [
            [
                "94be0afa22bb0252"
            ],
            [],
            []
        ]
    },
    {
        "id": "94be0afa22bb0252",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "function 2",
        "func": "var enter_menu = global.get(\"enter_menu\");\nvar buttons = Number(msg.payload);\nif((buttons & 0x01) != 0 && enter_menu == 0)//menu enter\n{\n    enter_menu = global.get(\"sel_menu\");\n    global.set(\"enter_menu\", enter_menu);\n    msg.payload = enter_menu.toString() + \" 1\";\n    return msg;\n}\nif ((buttons & 0x20) != 0 && enter_menu != 0) {//menu exit\n    msg.payload = enter_menu.toString() + \" 1\";\n    enter_menu =0;\n    global.set(\"enter_menu\", enter_menu);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 400,
        "wires": [
            [
                "695a151e9b2dd40c"
            ]
        ]
    },
    {
        "id": "695a151e9b2dd40c",
        "type": "switch",
        "z": "4936b649942e63a3",
        "name": "",
        "property": "enter_menu",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1670,
        "y": 400,
        "wires": [
            [
                "ea45bdc9d074768e"
            ],
            [
                "45dea34d35884efd"
            ]
        ]
    },
    {
        "id": "ea45bdc9d074768e",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd crs ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Set cursor",
        "x": 1890,
        "y": 380,
        "wires": [
            [
                "c79e21bf49fa61d3"
            ],
            [],
            []
        ]
    },
    {
        "id": "c79e21bf49fa61d3",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd dtwr 62",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write >",
        "x": 2060,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "45dea34d35884efd",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd crs ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Set cursor",
        "x": 1890,
        "y": 460,
        "wires": [
            [
                "ecfb9dd17a6e9842"
            ],
            [],
            []
        ]
    },
    {
        "id": "ecfb9dd17a6e9842",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd dtwr 42",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write *",
        "x": 2050,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b4a31476dba77af4",
        "type": "delay",
        "z": "4936b649942e63a3",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 400,
        "wires": [
            [
                "afc5d4d03da27636"
            ]
        ]
    },
    {
        "id": "5d7f24b3af4cb2f7",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd txtwrat ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Print zone",
        "x": 1700,
        "y": 160,
        "wires": [
            [
                "fed2d2b15aeee2b0",
                "f487ce428f18d611"
            ],
            [],
            []
        ]
    },
    {
        "id": "fed2d2b15aeee2b0",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "Update Start Time",
        "func": "var start_min;\nvar zone = global.get(\"zone\");\nstart_min = global.get(\"start_min[\" + zone + \"]\");\nvar min = start_min % 60;\nvar h = (start_min - (start_min % 60))/60;\nif (h > 12)\n{\n    h-=12;\n    msg.payload = h.toString().padStart(2, \"0\") + \":\" + min.toString().padStart(2, \"0\") + \" PM\";\n}\nelse\n{\n    msg.payload = h.toString().padStart(2, \"0\") + \":\" + min.toString().padStart(2, \"0\") + \" AM\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 220,
        "wires": [
            [
                "17762114ee0c982d"
            ]
        ]
    },
    {
        "id": "17762114ee0c982d",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd txtwrat 2 10 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Print Start",
        "x": 2040,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f487ce428f18d611",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "Update Run Time",
        "func": "\nvar zone = global.get(\"zone\");\nvar run_sec = global.get(\"run_sec[\" + zone + \"]\");\nvar sec = run_sec % 60;\nvar min = (run_sec - (run_sec % 60))/60;\n\n    msg.payload = min.toString().padStart(2, \"0\") + \" min \" + sec.toString().padStart(2, \"0\") + \" sec\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 300,
        "wires": [
            [
                "0949964b5bdcbb4d"
            ]
        ]
    },
    {
        "id": "0949964b5bdcbb4d",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd txtwrat 3 8",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Print run",
        "x": 2040,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0e602a82599bd89f",
        "type": "delay",
        "z": "4936b649942e63a3",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 690,
        "y": 680,
        "wires": [
            [
                "d7e53c0965e51629"
            ]
        ]
    },
    {
        "id": "926f507f20fd89a4",
        "type": "link out",
        "z": "4936b649942e63a3",
        "name": "Set start time",
        "mode": "link",
        "links": [
            "fb09eb6e4fb89ddb"
        ],
        "x": 645,
        "y": 620,
        "wires": []
    },
    {
        "id": "d7e53c0965e51629",
        "type": "link out",
        "z": "4936b649942e63a3",
        "name": "Set Run time",
        "mode": "link",
        "links": [
            "92b8ef9625b45b7f"
        ],
        "x": 735,
        "y": 620,
        "wires": []
    },
    {
        "id": "fb09eb6e4fb89ddb",
        "type": "link in",
        "z": "4936b649942e63a3",
        "name": "link in 1",
        "links": [
            "926f507f20fd89a4"
        ],
        "x": 1675,
        "y": 240,
        "wires": [
            [
                "fed2d2b15aeee2b0"
            ]
        ]
    },
    {
        "id": "92b8ef9625b45b7f",
        "type": "link in",
        "z": "4936b649942e63a3",
        "name": "link in 2",
        "links": [
            "d7e53c0965e51629"
        ],
        "x": 1665,
        "y": 320,
        "wires": [
            [
                "f487ce428f18d611"
            ]
        ]
    },
    {
        "id": "41056b190b86ef69",
        "type": "change",
        "z": "4936b649942e63a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "red",
                "pt": "global",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "green",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "blue",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "last_sel",
                "pt": "global",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "sel_menu",
                "pt": "global",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "enter_menu",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "zone",
                "pt": "global",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "068ee5d2f617f9f7",
        "type": "inject",
        "z": "4936b649942e63a3",
        "name": "Init var",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "41056b190b86ef69",
                "59eebd7407806e02"
            ]
        ]
    },
    {
        "id": "59eebd7407806e02",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "function 3",
        "func": "var i = 0;\nvar val = 270;\nfor(i = 0; i<= 8; i++)\n{\n    val = i * 60;\n    if (global.get(\"start_min[\" + i + \"]\") === undefined)\n    {\n        global.set(\"start_min[\" + i + \"]\", val);\n    }\n    \n    val = i *120;\n    if (global.get(\"run_sec[\" + i + \"]\") === undefined)\n    {\n        global.set(\"run_sec[\" + i + \"]\", val);\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "5119bbac0ce28898",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd blwr 0 50 0",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 260,
        "wires": [
            [
                "1a3cc4de5b844828"
            ],
            [],
            []
        ]
    },
    {
        "id": "e84a9225c31e27fc",
        "type": "inject",
        "z": "4936b649942e63a3",
        "name": "Init Display",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "3529251b5268a6ae"
            ]
        ]
    },
    {
        "id": "99d3faf064de54c9",
        "type": "delay",
        "z": "4936b649942e63a3",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "8377f933a2e0f925"
            ]
        ]
    },
    {
        "id": "133c96b0dd4f2463",
        "type": "delay",
        "z": "4936b649942e63a3",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "919cbd3475a3a33c"
            ]
        ]
    },
    {
        "id": "3529251b5268a6ae",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd cmdwr 60",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "99d3faf064de54c9"
            ],
            [],
            []
        ]
    },
    {
        "id": "8377f933a2e0f925",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd cmdwr 12",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "133c96b0dd4f2463"
            ],
            [],
            []
        ]
    },
    {
        "id": "919cbd3475a3a33c",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd cmdwr 6",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 540,
        "y": 200,
        "wires": [
            [
                "107c8369b43cfc99"
            ],
            [],
            []
        ]
    },
    {
        "id": "107c8369b43cfc99",
        "type": "delay",
        "z": "4936b649942e63a3",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "5119bbac0ce28898"
            ]
        ]
    },
    {
        "id": "1a3cc4de5b844828",
        "type": "delay",
        "z": "4936b649942e63a3",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "f6e680740f03c44d"
            ]
        ]
    },
    {
        "id": "f6e680740f03c44d",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd cmdwr 1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Clear Display",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "b7a923501545d20b"
            ],
            [],
            []
        ]
    },
    {
        "id": "b7a923501545d20b",
        "type": "exec",
        "z": "4936b649942e63a3",
        "command": "smlcd blwr 50",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Single color BL",
        "x": 280,
        "y": 460,
        "wires": [
            [
                "b55d2702f641bebc"
            ],
            [],
            []
        ]
    },
    {
        "id": "471cd38b755359df",
        "type": "inject",
        "z": "4936b649942e63a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1090,
        "y": 780,
        "wires": [
            [
                "fdb0781e073ed9e4"
            ]
        ]
    },
    {
        "id": "fdb0781e073ed9e4",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "get time",
        "func": "\nvar a = new Date().toString ();\nvar parts = a.split(\" \");\nvar time = parts[4].split(\":\");\nvar hour = time[0];\nvar minutes = time[1];\nvar seconds = time[2];\nvar currentSeconds = Number(hour) * 3600 + Number(minutes) * 60 + Number(seconds);\n\n for(var i = 1; i < 9; i++)\n {\n     var run = 0;\n     var start_min = Number(global.get(\"start_min[\" + i + \"]\"));\n     var run_sec = Number(global.get(\"run_sec[\" + i + \"]\"));\n     if (currentSeconds > (start_min * 60) )\n     {\n         var remaining_sec = currentSeconds - (start_min * 60);\n         if (remaining_sec < run_sec)\n         {\n            run = 1;\n            //node.warn(\"The zone \" + i +\" is on\");\n         }\n         \n     } \n     global.set(\"run[\" + i + \"]\", run);  \n }\nmsg.payload = currentSeconds;\nglobal.set(\"current_min\", (currentSeconds - (currentSeconds % 60))/60);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 780,
        "wires": [
            [
                "7b298b7b79d0701d",
                "f51b457d776c3e23"
            ]
        ]
    },
    {
        "id": "f51b457d776c3e23",
        "type": "function",
        "z": "4936b649942e63a3",
        "name": "relays set",
        "func": "var relays = 0;\nfor(var i= 1; i< 9; i++)\n{\n    var run = global.get(\"run[\" + i + \"]\");\n    if(run != 0)\n    {\n        relays |= 1 << (i - 1);// relay1 for zone 1, etc\n    }\n}\nmsg.payload = relays;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 780,
        "wires": [
            [
                "ed618e990d246f70"
            ]
        ]
    },
    {
        "id": "ed618e990d246f70",
        "type": "8relind",
        "z": "4936b649942e63a3",
        "name": "",
        "stack": "1",
        "relay": "0",
        "payload": "payload",
        "payloadType": "msg",
        "x": 1650,
        "y": 780,
        "wires": [
            []
        ]
    }
]